header {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  padding: 40px;
}

h1, h2, h3 {
  text-align: center;
}

body {
  background-color: #f7f9fc;
  margin: 0;
  font-family: sans-serif;
}

img {
  border-radius: 10px;
}

.blue {
  color: blue;
}

.quotation {
    color: gray;
    font-size:12px;
    font-style: italic;
}

.subheader {
  font-weight: bold;
  font-size: 20px;
}

#page_header { 
  background-color: #0f172a;
  text-align: center;
}

.intro-text {
    font-size: 18px;
    opacity: 0.9;
}

#footer {
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

.content-box {
  background: white;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #0f172a;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);

}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}